<form action="/bad/save_comment" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>Enter Your Comment Below!</p>
  <textarea id="comment" name="comment" rows="5" cols="40"></textarea>
  <input type="submit" />
</form>
