<h1>Welcome to Bad Co.!</h1>
<img src="/assets/Bad-Company.jpg" />
<ul>
  <li><a href="/bad/redirect?url=http://localhost:3000/bad/injection?id=1">User Info!</a></li>
  <li><a href="/bad/redirect?url=http://localhost:3000/bad/comments">Comments!</a></li>
  <li><a href="/bad/redirect?url=http://localhost:3000/bad/upload_file">Upload File!</a></li>
</ul>
